/* Dufault css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.text-left {
    text-align: left;
}
ul,ol {
    list-style: none;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}
.btn {
    border: 1px solid #fff;
    padding: 17px 25px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    transition: ease-in-out .5s;
}
.fixed{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}
/* header css */
.check{
    display: none;
}


.header-section{
    background-color: #ec116d;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.header-logo {
    width: 12%;
    padding: 6px 16px;
}
.header-manu{
    width: 90%;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
   

}
.header-manu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-manu ul li a {
    color: white;
    font-weight: 700;
    padding: 0 19px;
    font-size: 17px;
    line-height: 30px;
    transition: ease-in-out .5s;
}
.header-manu ul li a span {
    margin-left: 2px;
    font-size: 13px;
}
.header-manu ul li:hover>a {
    color: yellow;
}
.header-manu ul li.active a {
    color: yellow !important;
}
.header-manu ul li {
    position: relative;
}
.header-manu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    height: auto;
    display: block;
    background-color: #cc085a;
    transition: ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}
.header-manu ul li:hover>ul {
    visibility: visible;
    opacity: 1;
}
.header-manu ul li ul li {
    position: relative;
}
.header-manu ul li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
}
.header-manu ul li ul li a {
    display: block;
}

.header-manu ul li ul li a span {
    margin-left: 7px;
}

/* banner-section */
.banner-section{
    background: url(./Image/ia_100000040.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0;
    height: 100vh;
}
.banner-title {
    height: 100vh;
    color: white;
    padding: 218px 0;
}
.banner-title h1{
    font-size: 55px;
    margin: 17px 0;
}
.banner-title p::after {
    content: "";
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.609);
    position: absolute;
    right: 30px;
    top: 7px;
}

.banner-title p::before {
    content: "";
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.609);
    position: absolute;
    left: 30px;
    top: 7px;
}
.btn:hover {
    background-color: #f4c93f;
    color: #ec116d;
    border-color: #f4c93f;
}
/* body-section */
.body-section{
    margin-top: 110px;
}

.body-image {
    width: 35%;
    background-color: #eaedf4;
    display: inline-block;
}

.body-content {
    width: 60%;
    display: inline-block;
    padding: 10px 54px;
    background-color: #fff;
}

.body-content h4 {
    display: inline-block;
    background: #fcc747;
    padding: 10px 20px;
    font-size: 21px;
    position: relative;
    z-index: -1;
    margin-bottom: 5px;
}

.body-content h4::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 26px 0 16px 19px;
    border-color: transparent transparent transparent #fcc647;
    position: absolute;
    top: 13px;
    left: 0;
    z-index: -1;
}

.body-content h3 {
    margin: 20px 0;
    font-size: 27px;
    font-weight: 500;
    line-height: 1.5em;
}

.body-content p {
    color: #838494;
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.body-content.body-subtitle {
    display: flex;
}


.subtitle-left {
    display: inline-block;
    width: 30%;
    background-color: #fff;
}



.body-content .body-subtitle .subtitle-left ul li {
    line-height: 2.2em;
    color: #6b435d;
}

.body-content .body-subtitle .subtitle-right {
    width: 55%;
    display: inline-block;
    margin-left: 70px;
    box-sizing: border-box;
}

.body-content .body-subtitle .subtitle-right ul li {
    line-height: 2.2em;
    color: #6b435d;
}

.body-btn.btn {
    background-color: #3243e3;
    padding: 18px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 29px;
    transition: ease-in-out .5s;
    border: none;
}

.body-btn.btn:hover {
    background-color: #ec116d;
    color: #fff;
}
/* protfolio-section */
.protfolio-section {
    margin: 125px 0;
}
.frotfolio-title h3 {
    display: inline-block;
    background-color: #fcc747;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
   
}
.frotfolio-title h1{
    width: 62%;
    font-size: 35px;
    color: #292828;
    line-height: 1.4em;
}
.protfolio-services ul {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}
.protfolio-services ul li a {
    padding-right: 30px;
    color: #717085;
    font-size: 13px;
    transition: ease-in-out .5s;
    z-index: -1;
}
.protfolio-services ul li.delect a::after {
    content: "";
    height: 1px;
    width: 59%;
    background-color: #0074e8;
    position: absolute;
    top: 9px;
    left: -5px;
    
}
.protfolio-services ul li.delect a {
    color: #0074e8;
    position: relative;
}
.services-product ul li {
    max-width: 32%;
    margin-bottom: 20px;
    position: relative;
}
.services-product ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.services-product ul li::after {
    content: "";
    height: 99%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-in-out .5s;
}

.services-product ul li:hover::after {
    opacity: 1;
}
.product-hover {
    position: absolute;
    top: 40%;
    left: 28%;
    z-index: 11;
    color: white;
    text-align: center;
    opacity: 0;
    transition: ease-in-out .5s;
}

.services-product ul li:hover .product-hover {
    opacity: 9;
}
.product-hover a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #fcc747;
    border-radius: 50%;
    color: black;
    line-height: 30px;
}
.product-hover h4 {
    margin-top: 30px;
    font-size: 21px;
    margin-bottom: 14px;
}
/* skills-section */
.skills-section {
    margin-bottom: 110px;
}
.skills-title h3{
    display: inline-block;
    background-color: #fcc747;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
}
.skills-title h1{
    width: 62%;
    font-size: 35px;
    color: #292828;
    line-height: 1.4em;
}
.skills-servics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
.skills-servics .skills-product {
    display: flex;
    width: 32%;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 0px 50px #dbdbdbb0;
    transition: ease-in-out .5s;
}
.skills-icon {
    width: 20%;
}
.skills-icon img {
    width: 29px;
}
.skills-heading {
    width: 80%;
}
.skills-heading p {
    margin-top: 28px;
    font-size: 14px;
    line-height: 24px;
}
/* skills-section-hover */
.skills-product:nth-child(1):hover {
    background-color: #b4f0e19c;
}
.skills-product:nth-child(2):hover {
    background-color: #6ea7e79c;
}
.skills-product:nth-child(3):hover {
    background-color: #c9e97e9c;
}
.skills-product:nth-child(4):hover {
    background-color: #d476e79c;
}
.skills-product:nth-child(5):hover {
    background-color: #81ee669c;
}
.skills-product:nth-child(6):hover {
    background-color: #e7e97a9c;
}
/* number-section */
.number-section{
    background-color: #ba115ad2;
}
.number-section {
    background-image: url(.//image/ia_100000041.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.number-items{
    display: flex;
    justify-content: space-around;
    padding: 83px 0;
    text-align: center;
    color: white;
}
/* education-section */
.education-title h3{
    display: inline-block;
    background-color: #fcc747;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
}
.education-title h1 {
    width: 49%;
    font-size: 32px;
    line-height: 1.4em;
}

.items-detelis{
    display: flex;
    padding: 25px;
    box-shadow: 0 0 45px #e7e9f2;
    margin-bottom: 30px;
    margin-top: 60px;
    align-items: center;
}
.left-contain{
    width: 30%;
}
.right-contain{
    width: 55%;
    margin-left: 28px;
}
.left-contain span {
    padding: 4px 7px;
    background-color: #ec116c;
    margin-bottom: 14px;
    display: inline-block;
    color: white;
    font-size: 13px;
}
.left-contain p {
    font-size: 14px;
    color: #877398;
    line-height: 1.9em;
}
.items{
    width: 52%;
}
.member-imag{
    width: 36%;
    margin-left: 50px;
}
.member-imag img{
    max-width: 100%;
}
.education-section {
    display: flex;
    margin: 110px 0;
    background-color: #ffffff;
    padding-top: 110px;
    margin-top: 0;
}
.info-box {
    display: flex;
}



/* employment-section */
.employment-sedction {
    margin-top: -113px;
    background-color: #f0f4fd;
    padding: 70px 0;
}


.employment-title h3{
    display: inline-block;
    background-color: #fcc747;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
}
.employment-title h1{
    width: 58%;
    line-height: 1.4em;
    font-size: 33px;
}
.employment-section{
    background-color: #f0f4fd;
}
.employment-detiles{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.employment-member{
    width: 32%;
    padding: 30px;
    background-color: white;
}
.employment-member img {
    display: block;
    width: 110px;
    margin-bottom: 20px;
}
.employment-member span {
    display: inline-block;
    background: #ec116c;
    padding: 3px 7px;
    font-size: 14px;
    color: white;
}
.employment-detiles p {
    margin-top: 22px;
    font-size: 15px;
    color: #877398;
}
.employment-detiles h4 {
    display: inline-block;
    margin-left: 19px;
    color: #1d1f33;
}
/* logo-icon-section */
.logo-img-section{
    margin: 95px 0;
}
.logo-img-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-img-section ul li {
    padding: 12px 27px;
}
/* hire-section */
.hire-title h3{
    display: inline-block;
    background-color: #fcc747;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
}
.hire-title h1 {
    font-size: 29px;
    margin-bottom: 25px;
}


.address-form{
    display: flex;
}
.input-left{
    width: 50%;
    margin-right: 35px;
}
.input-left input{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    margin-bottom: 30px;
    border: 1px solid #00000036;
}
.input-right {
    width: 50%;
    margin-left: 0px;
}
.input-right textarea {
    width: 100%;
    height: 89%;
    padding: 5px 30px;
    border: 1px solid #00000036;
}
.submit-btn{
    padding: 20px 55px !important;
    background-color: #3243e3 !important;   
}
.center-btn{
    width: 245px;
    margin: auto;
}
.address-form a{
    text-align: center;
}
/* footer-section */
.footer-icon ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-icon ul li a{
    margin: 0 20px;
    height: 50px;
    width: 50px;
    border: 1px solid #6c6e85;
    color: #6c6e85;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    transition: ease-in-out .5s;
}
.footer-icon ul li a:hover{
    background-color: #3243e3;
    color: white;
}
.footer-icon.text-center {
    padding-top: 36px;
}
.footer-bottom strong{
    color: rgba(4, 0, 255, 0.5);
}
.footer-bottom.text-center {
    padding: 20px 0;
}
.footer-bottom p {
    font-size: 12px;
}